@model IEnumerable<SanRafael.Models.Doc_Asignatura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asignatura.nombre_asignatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Doc_Asignatura.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_eliminado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asignatura.nombre_asignatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Doc_Asignatura.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_eliminado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_doc_asignatura }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_doc_asignatura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_doc_asignatura })
        </td>
    </tr>
}

</table>
