@model IEnumerable<SanRafael.Models.Doc_Alumno>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alumno.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Doc_Alumno.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_eliminado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alumno.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Doc_Alumno.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_eliminado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_doc_alumno }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_doc_alumno }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_doc_alumno })
        </td>
    </tr>
}

</table>
