@model SanRafael.Models.Docente

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Docente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rut_docente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rut_docente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_eliminado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_eliminado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index")
</p>
