@model SanRafael.Models.Asignatura

@{
    ViewBag.Title = "Deshabilitar";
}

<h2>Deshabilitar</h2>

<div>
    <h4>Asignatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_asignatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_asignatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_eliminado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_eliminado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deshabilitar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
